.top-container {
  background-color: #381460;
  margin: 0px;
  position: relative;
  padding-top: 100px;
}

a {
  color: #fe346e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #ffbd69;
  text-decoration: underline;
}

.mid-container {
  margin: 100px 0px;
}

.bot-container {
  background-color: #381460;
  color: #ffbd69;
  padding: 50px 0px 20px ;
}

body {
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514E;
}

h1 {
  margin: 50px auto 0px auto;
  font-family: "Aladin", cursive;
  font-size: 5.625rem;
  color: #ffbd69;
  font-weight: normal;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #ffbd69;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #fe346e;
}

p {
  line-height: 2;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bot-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.thanks {
    font-size: x-small;
    margin: 0px;
    padding: 0px;
}

.skill-row {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
}

.code-icon {
  float: left;
  margin-right: 30px;
  margin-top: 10px;
}

.game-icon {
  float: right;
  margin-left: 30px;
  margin-top: 30px;
}

.profile {
  text-align: center;
}

.intro {
  width: 30%;
  margin: auto;
}

hr {
  border: dotted #B21F66;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.skills {
  margin: 80px auto 80px auto;
}

.btn {
	background: #FE346E;
	background-image: -webkit-linear-gradient(top, #FE346E, #B21F66);
	background-image: -moz-linear-gradient(top, #FE346E, #B21F66);
	background-image: -ms-linear-gradient(top, #FE346E, #B21F66);
	background-image: -o-linear-gradient(top, #FE346E, #B21F66);
	background-image: linear-gradient(to bottom, #FE346E, #B21F66);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color: #FFFFFF;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: 100;
	padding: 16px;
	border: solid #000000 1px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	text-align: center;
}
  
.btn:hover {
	border: solid #FFFFFF 1px;
	background: #FF1A5B;
	background-image: -webkit-linear-gradient(top, #FF1A5B, #FE346E);
	background-image: -moz-linear-gradient(top, #FF1A5B, #FE346E);
	background-image: -ms-linear-gradient(top, #FF1A5B, #FE346E);
	background-image: -o-linear-gradient(top, #FF1A5B, #FE346E);
	background-image: linear-gradient(to bottom, #FF1A5B, #FE346E);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	text-decoration: none;
}

.copyright-descr {
  color: #ffbd69;
  font-size: 0.75rem;
  padding: 20px 0px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}